craft-notes-sys-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   
    <flow name="craft-note-main">
        <http:listener config-ref="craft-note-httpListenerConfig" path="${secure::http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="craft-note-config"/>
        <error-handler ref="global-error-handlingError_Handler">
           
        </error-handler>
    </flow>
    <flow name="put:\notes\(noteId):application\json:craft-note-config" doc:id="50ac3653-c87b-4e0a-8fbc-8fa9df4f871f">
        <flow-ref doc:name="implementation-for-putSub_Flow" doc:id="89b1526b-3e4a-4b03-a9cf-066bdb7d1ef5" name="implementation-for-putSub_Flow"/>
    </flow>
    <flow name="delete:\notes\(noteId):craft-note-config">
        <flow-ref doc:name="implementation-for-deleteSub_Flow" doc:id="bdc98424-3367-4350-a48f-3bd88593a339" name="implementation-for-deleteSub_Flow"/>
    </flow>
    <flow name="get:\notes:craft-note-config">
        <flow-ref doc:name="implementation-for-getAllSub_Flow" doc:id="9e548a7f-91d4-47cc-9582-9541fcbdec25" name="implementation-for-getAllSub_Flow"/>
    </flow>
    <flow name="get:\notes\(noteId):craft-note-config">
        <flow-ref doc:name="implementation-for-getByIdSub_Flow" doc:id="b3b2fbf3-9ddf-43a3-99fb-bdc0c1357dcf" name="implementation-for-getByIdSub_Flow"/>
    </flow>
    <flow name="post:\notes:application\json:craft-note-config">
        <flow-ref doc:name="implementation-for-postSub_Flow" doc:id="dbcf5c85-2fb3-4ce8-8f77-3a1cabbeb9c9" name="implementation-for-postSub_Flow"/>
    </flow>
</mule>
